* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(246,246,246,1);
}

ul li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 0px;
}

button {
    background: #3498db;
    border: none;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    outline: none;

    margin-top: 10px;
    margin-right: 10px;
}

button:hover {
    background: rgba(246,246,246,1.0);
    color: rgba(46, 36, 33, 1.0);
}

h1 {
    font-weight: 300;
}

.menu input {
    float: right;
    outline: none;
}

hr {
    margin-top: 3px;
    border: 0;
    height: 1px;
    background: #aaaaaa;
    background-image: -webkit-linear-gradient(left, #222, #aaaaaa, #222);
    background-image:    -moz-linear-gradient(left, #222, #aaaaaa, #222);
    background-image:     -ms-linear-gradient(left, #222, #aaaaaa, #222);
    background-image:      -o-linear-gradient(left, #222, #aaaaaa, #222);
}

.menu {
    position: absolute;
    background-color: rgba(46,36,33, 0.7);
    height: 100%;
    width: 300px;
    padding: 20px;
}

input[type="text"] {
    padding: 3px;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
input[type="text"]:focus,
input[type="text"].focus {
    border: solid 2px #969696;
}


.controls {
    position: fixed;
    bottom: 0px;
    right: 0;
    height: 60px;
    width: 400px;
    text-align: center;
    padding-bottom: 10px;
}

.controls > * {
    float: right;
}

.controls button {
    background-color: rgba(246, 246, 246, 0.3);
    color: rgba(0, 0, 0, 1);
    padding: 15px 15px 15px 15px;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-size: 20px;
}

.controls button:hover {
    background-color: rgba(246, 246, 246, 0.5);
    /*color: rgba(246, 246, 246, 1);*/
}

.presets {
    margin-top: 20px;
    overflow: auto;
}

.presets > * {
    float: left;
}






















